<h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

<form method="post" action="/ask">
    <div class="form-group">
        <textarea id="questionInput" class="form-control" name="question" cols="100" rows="10" maxlength="200"></textarea>
        <span>Còn <span id="character">200</span>/200 ký tự</span>
    </div>
    <button type="submit" class="btn btn-primary">Gửi</button>
</form>