<h1 class="text-center">Question: {{question.questionContent}}</h1>

<div class="text-center">
    <div class="col-md-6">
        <a href="/answer/{{question.id}}/no" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span> Sai/không/trái</a>
    </div>
    <div class="col-md-6">
        <a href="/answer/{{question.id}}/yes" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Đúng/có/phải</a>
    </div>
</div>

<div class="col-md-12 text-center">
    <a href="" class="btn btn-default">Kết quả vote</a>
    <a href="" class="btn btn-default">Câu hỏi khác</a>
</div>